@using KadabraMVC.Models
@model List<Usuario> //Alumnos

<h1>Usuarios</h1>
<table class="table">
    <thead>
        <tr class="">
            <th>Nombre</th>
            <th>DNI</th>
            <th>Teléfono</th>
            <th>Mail</th>
            <th>Clases Restantes</th>
            <th>Fecha de Registro</th>
            <th>Estado</th>
            <th>Historial</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var profesor in @Model)
        {
            <tr>
                <td>@Html.DisplayFor(m=>profesor.Nombre) @Html.DisplayFor(m=>profesor.Apellido)</td>
                <td>@Html.DisplayFor(m=>profesor.Dni)</td>
                <td>@Html.DisplayFor(m=>profesor.Telefono)</td>
                <td>@Html.DisplayFor(m=>profesor.Mail)</td>
                <td>@Html.DisplayFor(m=>profesor.ClasesRestantes)</td>
                <td>@Html.DisplayFor(m=>profesor.FechaDeAlta)</td>
                <td>@Html.DisplayFor(m=>profesor.Estado)</td>
                <td> <input class="btn btn-outline-info" type="button" value="Detalle" /> </td>
                <td> <input class="btn btn-outline-danger" type="button" value="Dar de baja" /> </td>
            </tr>
        }
    </tbody>
</table>

<div class="table">
    <form asp-action="InicioAdministrativo">
        <div class="d-flex justify-content-start">
            <button class="btn btn-outline-info">Volver</button>
        </div>
    </form>


@*    <form asp-action="formNuevoProfesor">
        <div class="d-flex justify-content-end">
            <button class="btn btn-info">Agregar Profesor</button>
        </div>
    </form>*@